*{
  box-sizing: border-box;
}

.logo-container__block-text, 
.logo-container__block-link{
  float: left;
  height: 100%;
}

.link-container {
  float: right;
  padding: 0;
  list-style: none;
  margin: 0;
  
}

.link-container__list {
  float:left;
  height:100%;
  margin:0;
  font-family: sans-serif;
  font-weight: 700;
}

a{
  text-decoration: none;
  display: block;
  color:#000;
  height: 100%;
  transition:0.2s;
  -webkit-transition: 0.2s;
}

.link-container__list a:hover{
  background-color: #9e0059;
  color: #fff;
  cursor: pointer;
}

strong {
  padding-top: 0px;
  color: #9e0059;
}

.logo-container__link, 
.link-container__git-link{
  background-size: contain;
  background-origin: content-box;
  background-repeat: no-repeat;
}

.logo-container__link{
  background-image: url("/assets/img/zp_logo.svg");
}

.link-container__list 
.link-container__git-link{
  background-image: url("/assets/img/git_icon-black.png");
}

.link-container__list 
.link-container__git-link:hover{
  background-image: url("/assets/img/git_icon-white.png");
}

@media screen and (min-width:100px){

  .header_container{
    height: 90px;
    margin: 0 5px;
  }

 .link-container__list {
    font-size: 12px;
  }

 .link-container__list a{
    padding: 15px 7px;
  }

 .link-container__list 
 .link-container__git-link{
    padding: 5px 2px;
    width: 40px;
  }

  .logo-container__link{
    width: 35px;
  }

  strong {
    font-size: 20px;
  }

  .logo-container, ul{
    height: 50%;
  } 

  .logo-container{
    float: none;
    padding: 2px 0;
  }

  .logo-container__block-link,
  .logo-container__block-text{
    margin: 0 9px;
  }
}

@media screen and (min-width:480px) {
  .header_container{
    height: 70px;
    margin: 0 5px;
  }

 .link-container__list {
    font-size: 14px;
  }  

 .link-container__list a{
    padding: 27px 10px;
  }

 .link-container__list 
 .link-container__git-link{
    padding: 15px 10px;
    width: 60px;
  }

  .logo-container__link{
    width: 40px;
  }

  .logo-container, ul{
    height: 100%;
  }

  .logo-container{
    float: left;
    padding: 12px 0;
  }

  .logo-container__block-link, 
  .logo-container__block-text{
    margin: 0 10px
  }

  strong {
    font-size: 22px;
  }
}

@media screen and (min-width:768px) {

  .header_container{
    margin: 0 30px;
  }

 .link-container__list {
    font-size: 16px;
  }

  strong {
    font-size: 30px;
  }

  .link-container__list 
  .link-container__git-link{
    padding:8px;
    width: 70px;
  }

  .logo-container__link{
    width: 45px;
  }

  .logo-container{
    padding: 8px 0;
  }

  .logo-container__block-link, 
  .logo-container__block-text{
    margin: 0 10px
  }
}

@media screen and (min-width:1000px) {

}

@media screen and (min-width:1366px) {

}

@media screen and (min-width:1600px) {

}

@media screen and (min-width:1900px) {

}