.tabs {
  width: 100%;
  font: 13px sans-serif;
  font-weight: 600;
}

.tabs nav {
  float:right;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  background: #f5f5f5;
  color: #6C5D5D;
}

.tabs nav a {
  text-align: center;
  width: 100%;
  cursor: pointer;
  border-bottom: 1px solid #d3cfcf;
  border-right: 1px solid #d3cfcf;
  transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
}

.tabs nav a:hover,
.tabs nav a.selected {
  background: #9e0059;
  color: #ffffff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 5px -5px #333;
  border-bottom: 1px solid #7a7b7e;
}

.tabs nav a:hover img.second,
.tabs nav a.selected img.second{
  opacity:1;
}

.tabs nav a:hover img.first,
.tabs nav a.selected img.first{
  opacity:0;
  transition: opacity 0.1s linear 0s;
}

.tabs nav a img.second {
  opacity:0;
  transition: opacity 0.1s linear 0s;
}


.tabs .content {
  float:left;
  position:absolute;
  color: #6C5D5D;
  height: 100%;
  overflow: auto;
  opacity: 0;
  transition: opacity 0.1s linear 0s;
  box-shadow: 5px 0 5px -5px #333;
}

.tabs nav a img {
  right:0;
  position:absolute;
}

.tabs .content.visible {
  opacity: 1;
  z-index: 3;
}


.subcategoriesList{
  padding:10px;
}

.contentHead{
  box-shadow: 0 5px 5px -5px #333;
}

.subcategoriesList_radio{
  margin:5px 0;	
}

.subcategoriesList_radio{
  margin: 5px 0;
  padding: 0 5px; 
}

.subcategoriesList_radio input{
  margin: 0;
  padding: 5px;
  height: 16px;
  width: 16px;
  background-color: #9e0059;
  float: left;
}

.subcategoriesList_radio label{
  margin-left: 5px;
  color: #9e0059;
  text-shadow: 1px 1px 1px #d3cfcf;
}

.subcategoriesButton{
  padding: 10px 0;
  width: 100%;
  text-align: center;
}

.subcategoriesButton button{
  border: 2px solid #9e0059;
  border-radius: 5px;
  background-color: #f5f5f5;
  color: #9e0059;
  padding: 10px 25px;
  margin: 0 5px;
  cursor: pointer;
  transition: 0.3s;
  font: 13px sans-serif;
  font-weight: 600;
}

.subcategoriesButton button:hover{
  background-color: #9e0059;
  color: #fff;
}


@media screen and (min-width:100px) {
  .tabs nav {
	width: 50px;
  }

  .tabs nav a {
    height:50px;
  }

  .tabs nav a img {
	width:50px;
	height:50px;
  }  

  .tabs .content {
	width:calc(100% - 50px);
  }
}

@media screen and (min-width:480px) {
}

@media screen and (min-width:768px) {
  .tabs nav {
	width: 65px;
  }

  .tabs nav a {
    height:65px;
  }

  .tabs nav a img {
	width:65px;
	height:65px;
  }

  .tabs .content {
	width:calc(100% - 65px);
  }
}

@media screen and (min-width:1000px) {

}

@media screen and (min-width:1366px) {

}

@media screen and (min-width:1600px) {

}

@media screen and (min-width:1900px) {

}