.add-marker-info{
  width:100%;
  height:60px;
  position:absolute;
  z-index:5;
  background: #787878;
  opacity:0;
  font: 16px sans-serif;
  font-weight: 600;
  animation-name: add-marker-info_show;
  animation-duration: .3s;
  animation-delay: .3s;
  animation-fill-mode: both;
}

.add-marker-info-text{
  color:white;
  text-align: center;
  width:85%;
  float:left;
  height:100%;
}

.add-marker-info-text h3{
  margin-left: 15%;
}

.add-marker-info-cancel{
  display: inline-block;
  width: 15%;
  height: 100%;
  float: right;
  transition-duration: 0.2s;
  text-align: center;
  color: white;
  padding: 21px 0;
  box-sizing: border-box;
}

.add-marker-info-cancel:hover{
  cursor: pointer;
  background: #9e0059; 
}


.current-point-info {
  position: fixed;
  border: 2px solid #9e0059;
  border-radius: 5px;
  background-color: #fff;
  z-index: 1;
}

.wrap{
  padding: 0 10px;
  color: #9e0059;
  max-width: 350px;
  font: 12px sans-serif;
  font-weight: 700;
  z-index: 20;
  position: relative; 
}

.current-point-info:after{
  content: "";
  position: absolute;
  -webkit-transform: translateX(40%) translateY(-45%) rotate(50deg);
  transform: translateX(40%) translateY(-45%) rotate(50deg);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  width: 20px;
  height: 24px;
  border: 2px solid #9e0059;
  border-top: none;
  border-left: none;
  background: #fff;
}

@keyframes add-marker-info_show{
  from{
    opacity: 0;
  }
  to{
    opacity: 0.9;
  }
}


@media screen and (min-width:100px){
 
}

@media screen and (max-width:480px){
  .add-marker-info-cancel{
    font-size: 14px;
    width: 20%;
  }

  .add-marker-info-text{
    width:80%;
  }

  .add-marker-info-text h3{
    margin-left: 10%;
    font-size: 16px;
    padding: 5px 0;
  }
}

@media screen and (min-width:768px){
 
}